/* @font-face {
    font-family: IranYekan;
    src: url("Fonts/Woff2/dana-fanum-thin.woff2") format("woff2"),
        url("Fonts/Woff/dana-fanum-thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: IranYekan;
    src: url("Fonts/Woff2/iranyekanweblightfanum.woff2") format("woff2"),
        url("Fonts/Woff/iranyekanweblightfanum.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: IranYekan;
    src: url("Fonts/Woff2/iranyekanwebregularfanum.woff2") format("woff2"),
        url("Fonts/Woff/iranyekanwebregularfanum.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: IranYekan;
    src: url("Fonts/Woff2/iranyekanwebmediumfanum.woff2") format("woff2"),
        url("Fonts/Woff/iranyekanwebmediumfanum.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: IranYekan;
    src: url("Fonts/Woff2/iranyekanwebboldfanum.woff2") format("woff2"),
        url("Fonts/Woff/iranyekanwebboldfanum.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: IranYekan;
    src: url("Fonts/Woff2/iranyekanwebblackfanum.woff2") format("woff2"),
        url("Fonts/Woff/iranyekanwebblackfanum.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: IranYekan !important;
}
